@charset "UTF-8";
/* Manrope for headers */
@font-face {
  font-family: "Manrope";
  src: url("/fonts/Manrope-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900; /* variable font range */
  font-style: normal;
  font-display: swap;
}
/* Mulish for body text */
@font-face {
  font-family: "Mulish";
  src: url("/fonts/Mulish-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
/* Default styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Use Mulish for base text */
body {
  font-family: "Mulish", sans-serif;
  font-size: 18px;
}
@media (max-width: 575px) {
  body {
    font-size: 16px;
  }
}

/* Use Manrope for headings */
h1, h2, h3, h4, h5, h6 {
  font-family: "Manrope", sans-serif;
  font-weight: 700;
}

h2 {
  font-size: 36px;
}

/* Общие стили */
.btn {
  border-radius: 12px;
  width: 220px;
  height: 50px;
  background-color: #519BFF;
  color: white;
  border: none;
  font-size: 18px;
}
.btn:hover {
  cursor: pointer;
  background-color: #0261E1;
  transition: 0.3s;
  color: #fff;
}

.homepage-link {
  display: flex;
  justify-content: center;
  margin-top: 70px;
}
.homepage-link__content {
  color: #000;
  text-decoration: none;
}
.homepage-link__content:hover {
  color: #0261E1;
  transition: 0.3s;
}

/* Стили для header и hero секции */
.header {
  margin-top: 10px;
}
@media (max-width: 991px) {
  .header .navbar__logo {
    display: none;
  }
}
.header .navbar__logo-mobile {
  margin-left: 20px;
}
.header .navbar__menu {
  display: flex;
  gap: 50px;
  justify-content: center;
}
@media (max-width: 991px) {
  .header .navbar__menu {
    display: none;
  }
}
.header .navbar__link {
  color: #000;
  text-decoration: none;
}
.header .navbar__link:hover {
  color: #0261E1;
  transition: 0.3s;
}
.header .navbar__cta {
  display: flex;
  justify-content: end;
}
@media (max-width: 991px) {
  .header .navbar__cta {
    display: none;
  }
}
.header .navbar__cta .cta {
  width: 180px;
  height: 40px;
  border-radius: 12px;
  background-color: #fff;
  border: 2px solid #519BFF;
}
.header .navbar__cta .cta:hover {
  background-color: #0261E1;
  color: white;
  border: 2px solid #0261E1;
  transition: 0.3s;
}
@media (min-width: 992px) {
  .header .navbar .mobile-version {
    display: none;
  }
}
.header .hero {
  display: flex;
  margin-top: 100px;
  flex-direction: column;
  align-items: center;
}
.header .hero__title {
  font-size: 48px;
  text-align: center;
}
.header .hero__subtitle {
  font-size: 22px;
  margin-top: 20px;
  text-align: center;
}
.header .hero__image {
  margin-top: 10px;
}
@media (max-width: 1199px) {
  .header .hero__image {
    width: 100%;
  }
}
.header .hero__cta {
  margin-top: 70px;
}

/* Стили для main секции */
.main {
  /* Наши услуги */
  /* Почему именно мы? */
  /* Лучшие клинеры */
  /* Результаты до и после */
  /* Отзывы клиентов */
  /* Часто задаваемые вопросы */
  /* Контакты */
}
.main .services {
  margin-top: 200px;
}
@media (max-width: 575px) {
  .main .services {
    margin-top: 100px;
  }
}
.main .services__header {
  text-align: center;
  margin-bottom: 80px;
}
.main .services__row {
  display: flex;
  justify-content: space-between; /* колонки равномерно растянутся */
  text-align: center; /* по умолчанию центр */
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 2px solid #519BFF;
}
@media (max-width: 991px) {
  .main .services__row {
    padding: 0;
    border: none;
  }
}
.main .services__row:last-child {
  border-bottom: 2px solid #519BFF;
}
.main .services__row .option:first-child {
  text-align: left; /* первый элемент слева */
}
.main .services__row .option:last-child {
  text-align: right; /* последний элемент справа */
}
@media (max-width: 991px) {
  .main .services__row .option {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 2px solid #519BFF;
  }
  .main .services__row .option br {
    display: none; /* убираем переносы строк на маленьких экранах */
  }
}
.main .features {
  margin-top: 200px;
}
@media (max-width: 575px) {
  .main .features {
    margin-top: 100px;
  }
}
.main .features__header {
  text-align: center;
  margin-bottom: 80px;
}
@media (max-width: 991px) {
  .main .features .feature {
    margin-bottom: 50px;
  }
}
.main .features .feature__icon {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main .features .feature__blob {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* центрируем blob */
  width: 80%; /* подгони под макет */
  height: auto;
  z-index: 0;
}
@media (max-width: 991px) {
  .main .features .feature__blob {
    width: 60%;
  }
}
.main .features .feature__title {
  font-size: 24px;
  position: relative;
  z-index: 1; /* чтобы текст был поверх картинки */
  text-align: center;
}
.main .features .feature__text {
  margin-top: 50px;
  text-align: center;
}
.main .cleaners {
  margin-top: 200px;
}
@media (max-width: 575px) {
  .main .cleaners {
    margin-top: 100px;
  }
}
.main .cleaners__header {
  text-align: center;
  margin-bottom: 80px;
}
@media (max-width: 991px) {
  .main .cleaners .employee {
    margin-bottom: 30px;
  }
}
@media (max-width: 575px) {
  .main .cleaners .employee {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.main .cleaners .employee__name {
  margin-top: 15px;
  margin-bottom: 0;
}
@media (max-width: 575px) {
  .main .cleaners .employee__avatar {
    width: 140px;
  }
}
.main .results {
  margin-top: 200px;
}
@media (max-width: 575px) {
  .main .results {
    margin-top: 100px;
  }
}
.main .results__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main .results__header {
  text-align: center;
  margin-bottom: 80px;
}
.main .results__row {
  margin-bottom: 40px;
}
@media (max-width: 991px) {
  .main .results__row--desktop {
    display: none;
  }
}
.main .results .carousel-indicators [data-bs-target] {
  background-color: #519BFF;
}
.main .results .carousel-indicators {
  position: static;
  margin-top: 20px;
}
.main .results .carousel-indicators button {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #c2c2c2;
}
.main .results .carousel-indicators button.active {
  background-color: #4a8cff;
}
.main .results__slider {
  margin-bottom: 40px;
}
.main .results .result__image {
  width: 100%;
}
.main .results__cta {
  margin-top: 10px;
}
.main .reviews {
  margin-top: 200px;
}
@media (max-width: 575px) {
  .main .reviews {
    margin-top: 100px;
  }
}
.main .reviews__header {
  text-align: center;
  margin-bottom: 80px;
}
.main .reviews .review-card {
  max-width: 800px;
  border: 2px solid #4a8cff;
  border-radius: 20px;
  padding: 30px 40px;
}
.main .reviews .review-card:hover {
  cursor: pointer;
}
.main .reviews .review-card__content {
  display: flex;
  align-items: center;
  gap: 30px;
}
@media (max-width: 768px) {
  .main .reviews .review-card__content {
    flex-direction: column;
    text-align: center;
  }
}
.main .reviews .review-card__photo img {
  width: 140px;
  height: 140px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}
.main .reviews .review-card__top {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 10px;
}
@media (max-width: 768px) {
  .main .reviews .review-card__top {
    flex-direction: column;
    gap: 5px;
  }
}
.main .reviews .review-card__name {
  font-weight: 700;
  font-size: 20px;
  margin: 0;
}
.main .reviews .review-card__service {
  color: #777;
  font-size: 16px;
}
.main .reviews .review-card__quote {
  margin: 0;
  line-height: 1.6;
  font-size: 16px;
  color: #333;
}
.main .reviews .carousel-indicators {
  position: static;
  margin-top: 20px;
}
.main .reviews .carousel-indicators button {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #c2c2c2;
}
.main .reviews .carousel-indicators button.active {
  background-color: #4a8cff;
}
.main .faq {
  margin-top: 200px;
}
@media (max-width: 575px) {
  .main .faq {
    margin-top: 100px;
  }
}
.main .faq__header {
  text-align: center;
  margin-bottom: 80px;
}
.main .faq .accordion {
  border: 2px solid #519BFF;
  border-radius: 33px;
}
.main .faq .accordion-button {
  font-size: 24px;
  font-weight: bold;
}
.main .faq .accordion-item {
  border: none; /* убираем стандартную границу */
}
.main .faq .accordion-item:not(:last-child) {
  border-bottom: 2px solid #519BFF; /* разделитель между элементами */
}
.main .faq .accordion-item:first-child {
  border-top-left-radius: 33px;
  border-top-right-radius: 33px;
}
.main .faq .accordion-item:first-child .accordion-button {
  border-top-left-radius: 33px;
  border-top-right-radius: 33px;
}
.main .faq .accordion-item:last-child {
  border-bottom-left-radius: 33px;
  border-bottom-right-radius: 33px;
}
.main .faq .accordion-item:last-child .accordion-button[aria-expanded=false] {
  border-bottom-left-radius: 33px;
  border-bottom-right-radius: 33px;
}
.main .contacts {
  margin-top: 200px;
  margin-bottom: 100px;
}
@media (max-width: 575px) {
  .main .contacts {
    margin-top: 100px;
  }
}
.main .contacts__header {
  text-align: center;
  margin-bottom: 30px;
}
.main .contacts__subheader {
  text-align: center;
  font-size: 18px;
  max-width: 600px;
  margin-bottom: 80px;
  margin-left: auto;
  margin-right: auto;
}
.main .contacts__content {
  height: 460px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (max-width: 991px) {
  .main .contacts__content {
    align-items: center;
    margin-bottom: 30px;
  }
}
.main .contacts__content .essentials {
  display: flex;
  flex-direction: column;
  gap: 0px;
}
.main .contacts__content .essentials .phone, .main .contacts__content .essentials .email {
  margin: 0;
  font-size: 24px;
  color: #000;
  text-decoration: none;
}
.main .contacts__content .address {
  margin: 0;
}
.main .contacts__content .social-media {
  display: flex;
  gap: 50px;
}
.main .contacts__content .map {
  width: 400px;
  height: 220px;
}
.main .contacts__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background-color: #D6E7FF;
  padding: 40px 35px;
  border-radius: 25px;
}
.main .contacts__form .form-input {
  width: 100%;
  border-radius: 9px;
  border: none;
  outline: none;
}
.main .contacts__form .form-input:focus {
  box-shadow: 0 0 2px #519BFF;
}
.main .contacts__form .name, .main .contacts__form .phone {
  height: 60px;
  padding: 0 20px;
}
.main .contacts__form .comment {
  padding: 15px 20px;
  resize: none;
}
.main .contacts__form .form__checkbox {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 12px;
  color: #797979;
}
.main .contacts__form .form__checkbox .checkbox {
  width: 20px;
  height: 20px;
  accent-color: #fff;
}
.main .contacts__form .form__checkbox .checkbox:hover {
  cursor: pointer;
}
.main .contacts__form .form__checkbox a {
  color: #519BFF;
  text-decoration: none;
}
.main .contacts__form .form__checkbox a:hover {
  text-decoration: underline;
}
.main .contacts__form .btn-submit {
  width: 220px;
  height: 50px;
  background-color: #519BFF;
  color: white;
  border: none;
}
.main .contacts__form .btn-submit:hover {
  background-color: #0261E1;
  transition: 0.3s;
}

/* Стили для footer секции */
.footer {
  margin-top: 200px;
  padding: 65px 0;
  border-top: 2px solid #519BFF;
}
@media (max-width: 1199px) {
  .footer .navbar__logo-image {
    display: block;
    margin: 0 auto 20px auto;
  }
}
.footer .navbar__menu {
  display: flex;
  gap: 30px;
  justify-content: center;
}
.footer .navbar__additional {
  display: flex;
  gap: 30px;
  justify-content: end;
}
@media (max-width: 1199px) {
  .footer .navbar__additional {
    justify-content: center;
    margin-top: 20px;
  }
}
@media (max-width: 575px) {
  .footer .navbar__additional {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
}
.footer .navbar__link {
  color: #000;
  text-decoration: none;
}
.footer .navbar__link:hover {
  color: #0261E1;
  transition: 0.3s;
}/*# sourceMappingURL=styles.css.map */