@use 'variables'; //импорт переменных
@use 'base'; //общие стили

/* Стили для header и hero секции */
.header {
    margin-top: 10px;
    .navbar {
        &__menu {
            display: flex;
            gap: 50px;
            justify-content: center;
        }
        &__link {
            color: variables.$black;
            text-decoration: none;
            &:hover {
                color: variables.$dark-blue-hover;
                transition: 0.3s;
            }
        }
        &__cta {
            display: flex;
            justify-content: end;
            .cta {
                width: 180px;
                height: 40px;
                border-radius: 12px;
                background-color: #fff;
                border: 2px solid variables.$dark-blue;
                &:hover {
                    background-color: variables.$dark-blue-hover;
                    color: white;
                    border: 2px solid variables.$dark-blue-hover;
                    transition: 0.3s;
                }
            }
        }
    }
    .hero {
        display: flex;
        margin-top: 100px;
        flex-direction: column;
        align-items: center;
        &__title {
            font-size: 48px;
            text-align: center;
        }
        &__subtitle {
            font-size: 22px;
            margin-top: 20px;
            text-align: center;
        }
        &__image {
            margin-top: 10px;
            @media (max-width: 1199px) {
                width: 100%;
            }
        }
        &__cta {
            margin-top: 70px;
        }
    }
}

/* Стили для main секции */
.main {

    /* Наши услуги */
    .services {
        margin-top: 200px;
        &__header {
            text-align: center;
            margin-bottom: 80px;
        }
        &__row {
            display: flex;
            justify-content: space-between; /* колонки равномерно растянутся */
            text-align: center; /* по умолчанию центр */
            padding-top: 10px;
            padding-bottom: 10px;
            border-top: 2px solid variables.$dark-blue;
            @media (max-width: 991px) {
                padding: 0;
                border: none;
            }
            &:last-child {
                border-bottom: 2px solid variables.$dark-blue;
            }
            .option {
                &:first-child {
                    text-align: left; /* первый элемент слева */
                }
                &:last-child {
                    text-align: right; /* последний элемент справа */
                }
                @media (max-width: 991px) {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: start;
                    gap: 0;
                    padding-top: 10px;
                    padding-bottom: 10px;
                    border-top: 2px solid variables.$dark-blue;
                    br {
                        display: none; /* убираем переносы строк на маленьких экранах */
                    }
                }
            }
        }
    }

    /* Почему именно мы? */
    .features {
        margin-top: 200px;
        &__header {
            text-align: center;
            margin-bottom: 80px;
        }
        .feature {
            @media (max-width: 991px) {
                margin-bottom: 50px;
            }
            &__icon {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            &__blob {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%); /* центрируем blob */
                width: 80%; /* подгони под макет */
                height: auto;
                z-index: 0;     
                @media (max-width: 991px) {
                    width: 60%; 
                }           
            }
            &__title {
                font-size: 24px;
                position: relative;
                z-index: 1; /* чтобы текст был поверх картинки */
                text-align: center;                
            }
            &__text {
                margin-top: 50px;
                text-align: center;
            }
        }
    }

    /* Лучшие клинеры */
    .cleaners {
        margin-top: 200px;
        &__header {
            text-align: center;
            margin-bottom: 80px;
        }
        .employee {
            @media (max-width: 991px) {
                margin-bottom: 30px;
            }
            &__name {
                margin-top: 15px;
                margin-bottom: 0;
            }
        }
    }

    /* Результаты до и после */
    .results {
        margin-top: 200px;
        &__container {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &__header {
            text-align: center;
            margin-bottom: 80px;
        }
        &__row {
            margin-bottom: 40px;
        }
        .result {
            &__image {
                width: 100%;
            }
        }
        &__cta {
            margin-top: 10px;
        }
    }

    /* Отзывы клиентов */
    .reviews {
        margin-top: 200px;
        &__header {
            text-align: center;
            margin-bottom: 80px;
        }
        .review-card {
            max-width: 800px;
            border: 2px solid #4a8cff;
            border-radius: 20px;
            padding: 30px 40px;
            &:hover {
                cursor: pointer;
            }
            &__content {
                display: flex;
                align-items: center;
                gap: 30px;

                @media (max-width: 768px) {
                    flex-direction: column;
                    text-align: center;
                }
            }
            &__photo img {
                width: 140px;
                height: 140px;
                object-fit: cover;
                border-radius: 50%;
            }
            &__top {
                display: flex;
                justify-content: space-between;
                align-items: baseline;
                margin-bottom: 10px;

                @media (max-width: 768px) {
                    flex-direction: column;
                    gap: 5px;
                }
            }
            &__name {
                font-weight: 700;
                font-size: 20px;
                margin: 0;
            }
            &__service {
                color: #777;
                font-size: 16px;
            }
            &__quote {
                margin: 0;
                line-height: 1.6;
                font-size: 16px;
                color: #333;
            }
        }
        .carousel-indicators {
            position: static;
            margin-top: 20px;

            button {
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background-color: #c2c2c2;

                &.active {
                    background-color: #4a8cff;
                }
            }
        }
    }

    /* Часто задаваемые вопросы */
    .faq {
        margin-top: 200px;
        &__header {
            text-align: center;
            margin-bottom: 80px;
        }
        .accordion {
            border: 2px solid variables.$dark-blue;
            border-radius: 33px;
            &-button {
                font-size: 24px;
                font-weight: bold;
            }
            &-item {
                border: none; /* убираем стандартную границу */
                &:not(:last-child) {
                    border-bottom: 2px solid variables.$dark-blue; /* разделитель между элементами */
                }
                &:first-child {
                    border-top-left-radius: 33px;
                    border-top-right-radius: 33px;
                    .accordion-button {
                        border-top-left-radius: 33px;
                        border-top-right-radius: 33px;
                    }
                }
                &:last-child {
                    border-bottom-left-radius: 33px;
                    border-bottom-right-radius: 33px;
                    .accordion-button[aria-expanded="false"] {
                        border-bottom-left-radius: 33px;
                        border-bottom-right-radius: 33px;
                    }
                }
            }
        }
    }

    /* Контакты */
    .contacts {
        margin-top: 200px;
        margin-bottom: 100px;
        &__header {
            text-align: center;
            margin-bottom: 30px;
        }
        &__subheader {
            text-align: center;
            font-size: 18px;
            max-width: 600px;
            margin-bottom: 80px;
            margin-left: auto;
            margin-right: auto;
        }
        &__content {
            height: 460px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .essentials {
                display: flex;
                flex-direction: column;
                gap: 0px;
                .phone, .email {
                    margin: 0;
                    font-size: 24px;
                    color: #000;
                    text-decoration: none;
                }
            }
            .address {
                margin: 0;
            }
            .social-media {
                display: flex;
                gap: 50px;
            }
            .map {
                width: 400px;
                height: 220px;
            }
        }
        &__form {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;
            background-color: variables.$light-blue;
            padding: 40px 35px;
            border-radius: 25px;
            .form-input {
                width: 100%;
                border-radius: 9px;
                border: none;
                outline: none;
                &:focus {
                    box-shadow: 0 0 2px variables.$dark-blue;
                }
            }
            .name, .phone {
                height: 60px;
                padding: 0 20px;
            }
            .comment {
                padding: 15px 20px;
                resize: none; 
            }
            .form__checkbox {
                .checkbox {
                    width: 20px;
                    height: 20px;
                    accent-color: #fff; 
                    &:hover {
                        cursor: pointer;
                    }
                }
                display: flex;
                align-items: center;
                gap: 10px;
                font-size: 12px;
                color: #797979;
                a {
                    color: variables.$dark-blue;
                    text-decoration: none;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
            .btn-submit {
                width: 220px;
                height: 50px;
                background-color: variables.$dark-blue;
                color: white;
                border: none;
                &:hover {
                    background-color: variables.$dark-blue-hover;
                    transition: 0.3s;
                }
            }
        }
    }

}

/* Стили для footer секции */
.footer {
    margin-top: 200px;
    padding: 65px 0;
    border-top: 2px solid variables.$dark-blue;
    .navbar {
        &__logo {
            &-image {
                @media (max-width: 1999px) {
                    display: block;
                    margin: 0 auto 20px auto;
                }
            }
        }
        &__menu {
            display: flex;
            gap: 30px;
            justify-content: center;
        }
        &__additional {
            display: flex;
            gap: 30px;
            justify-content: end;
            @media (max-width: 1999px) {
                justify-content: center;
                margin-top: 20px;
            }
        }
        &__link {
            color: variables.$black;
            text-decoration: none;
            &:hover {
                color: variables.$dark-blue-hover;
                transition: 0.3s;
            }
        }
    }
}