@charset "UTF-8";
/* Manrope for headers */
@font-face {
  font-family: "Manrope";
  src: url("/static/fonts/Manrope/Manrope-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900; /* variable font range */
  font-style: normal;
  font-display: swap;
}
/* Mulish for body text */
@font-face {
  font-family: "Mulish";
  src: url("/static/fonts/Mulish/Mulish-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
/* Default styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Use Mulish for base text */
body {
  font-family: "Mulish", sans-serif;
  font-size: 18px;
}

/* Use Manrope for headings */
h1, h2, h3, h4, h5, h6 {
  font-family: "Manrope", sans-serif;
  font-weight: 700;
}

h2 {
  font-size: 36px;
}

/* Общие стили */
.btn {
  border-radius: 12px;
}
.btn:hover {
  cursor: pointer;
}

/* Стили для header и hero секции */
.header {
  margin-top: 10px;
}
.header .navbar__menu {
  display: flex;
  gap: 50px;
  justify-content: center;
}
.header .navbar__link {
  color: #000;
  text-decoration: none;
}
.header .navbar__link:hover {
  color: #0261E1;
  transition: 0.3s;
}
.header .navbar__cta {
  display: flex;
  justify-content: end;
}
.header .navbar__cta .cta {
  width: 180px;
  height: 40px;
  border: 2px solid #519BFF;
}
.header .navbar__cta .cta:hover {
  background-color: #0261E1;
  color: white;
  border: 2px solid #0261E1;
  transition: 0.3s;
}
.header .hero {
  display: flex;
  margin-top: 100px;
  flex-direction: column;
  align-items: center;
}
.header .hero__title {
  font-size: 48px;
  text-align: center;
}
.header .hero__subtitle {
  font-size: 22px;
  margin-top: 20px;
  text-align: center;
}
.header .hero__image {
  margin-top: 10px;
}
.header .hero__cta {
  width: 220px;
  height: 50px;
  margin-top: 70px;
  background-color: #519BFF;
  color: white;
}
.header .hero__cta:hover {
  background-color: #0261E1;
  transition: 0.3s;
}

/* Стили для main секции */
.main .services {
  margin-top: 200px;
}
.main .services__header {
  text-align: center;
  margin-bottom: 80px;
}
.main .services__row {
  display: flex;
  justify-content: space-between; /* колонки равномерно растянутся */
  text-align: center; /* по умолчанию центр */
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 2px solid #519BFF;
}
.main .services__row:last-child {
  border-bottom: 2px solid #519BFF;
}
.main .services__row .option:first-child {
  text-align: left; /* первый элемент слева */
}
.main .services__row .option:last-child {
  text-align: right; /* последний элемент справа */
}
.main .features {
  margin-top: 200px;
}
.main .features__header {
  text-align: center;
  margin-bottom: 80px;
}
.main .features .feature__icon {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main .features .feature__blob {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* центрируем blob */
  width: 80%; /* подгони под макет */
  height: auto;
  z-index: 0;
}
.main .features .feature__title {
  font-size: 24px;
  position: relative;
  z-index: 1; /* чтобы текст был поверх картинки */
  text-align: center;
}
.main .features .feature__text {
  margin-top: 50px;
  text-align: center;
}
.main .cleaners {
  margin-top: 200px;
}/*# sourceMappingURL=styles.css.map */